<h1>Authentification</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()" >
  <section>

      <label class="label is-small">Identifiant</label>
      <div>
        <input class="input is-small" formControlName="login" maxlength="6" name="login" type="text" placeholder="Identifiant"  />
        <span class="icon is-small is-left">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
      </div>

      <label class="label is-small">Mot de passe</label>
      <div>
        <input class="input is-small" formControlName="password" name="password" type="password" placeholder="Mot de passe"  />
          <span class="icon is-small is-left">
            <i class="fas fa-lock" aria-hidden="true"></i>
        </span>
      </div>

  </section>

  <footer>
    <button type="submit" class="button is-small" [disabled]="!loginForm.valid">Valider</button>
  </footer>
</form>
