<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="reviewit-poc">

    <display-name>CSERVICES Frontend</display-name>

    <servlet>
        <servlet-name>spring-web</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>com.bnp.cservices.frontend.config.WebMvcConfiguration</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring-web</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
	
	<!-- HealthChecker -->
	<servlet>
		<servlet-name>ApplicationCheckerServlet</servlet-name>
		<servlet-class>com.bnppa.cinrj.check.http.ApplicationCheckerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ApplicationCheckerServlet</servlet-name>
		<url-pattern>/ApplicationChecker</url-pattern>
	</servlet-mapping>
	
    <resource-ref>
        <res-ref-name>url/ServiceUrl</res-ref-name>
        <res-type>java.net.URL</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <res-ref-name>url/SesameServer</res-ref-name>
        <res-type>java.net.URL</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
</web-app>

